body
{
    background-image: url(pics/Gargantua\ LockBG.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0px 0px;

    font-family: sans-serif;    
}
.container
{
    background-color:transparent;
    padding: 25px 10px; /*padding inside stuff*/
    margin: 15px; /*for seperate each containers*/
    display: flex;
    justify-content:left;
    padding: 10px 25px;
}
.border-container
{
    display: flex;
    justify-content:space-between;
    background-color:rgb(30, 30, 30);
    box-shadow: 0px 5px 5px black;
    padding: 20px 30px;
    color:azure;
    font-size: 20px;
    text-shadow: 0px 5px 5px black;
}
.name-buttons
{
    background-color: rgba(76, 76, 76, 0.25);
    color:azure;
    text-shadow: 0px 5px 5px black;
    font-size:25px;
    padding: 10px 25px;
    margin-right: 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.5);
    border-color:transparent;
}
.border-text
{
    margin: 10px 10px;
}
.name-buttons:hover
{
    background-color: rgba(48, 48, 48, 0.25);
    color:rgb(214, 227, 227);
}
.face-pics
{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 999px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.5);
    margin-top: 5px;
    margin-bottom: 10px;
}