body
{
    background-color:rgb(159, 146, 126);
    margin: 2.5vh 0;

    display: flex;
    justify-content: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#inner-bg
{
    background-color:rgb(250, 239, 224);
    width: 95vw;
    height: auto;

    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
    border-radius: 50px;

    padding: 5vh 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section
{
    width: 100%;
}
.section.s1
{
    height: 10%;

    text-align: center;
    font-size: 2vw;
    color:rgb(66, 66, 66);
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}
.section.s2
{
    height: 10%;

    font-size: 2vw;
    color:rgb(66, 66, 66);
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    
    display: flex;
    justify-content: space-between;
}
.button
{
    background-color: rgb(159, 146, 126);

    border: none;
    padding: 1vh 1vw;
    border-radius: 99px;

    color:rgb(66, 66, 66);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.button:hover
{
    background-color: rgb(151, 139, 120);
    cursor: pointer;
}